.online-status {
  background-color: #1ea885;
  min-width: 10px;
  max-width: 10px;
  height: 10px;
  border-radius: 50%;
  font-size: 0.8rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
.offline-status {
  background-color: #cacaca;
  min-width: 10px;
  max-width: 10px;
  height: 10px;
  border-radius: 50%;
  font-size: 0.8rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-chat {
  background-color: #edeae2;
  background-image: url("/assets/wa_bg.png");
  background-size: contain;
  background-repeat: repeat;

}
.message-box {
  position: relative;
  display: flex;
  width: 100%;
  margin: 5px 0;

  &.self {
    > div {
      position: relative;
      right: 0;
      text-align: right;
      background-color: #d9fdd3;
      padding: 10px 10px 0 10px;
      max-width: 65%;
      border-radius: 5px;
      font-size: 0.9rem;
    }
    justify-content: flex-end;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: -10px;
      width: 20px;
      height: 20px;
      background: linear-gradient(135deg, #d9fdd3 0%, #d9fdd3 50%, transparent 50%, transparent);
    }
  }
  &.friend {
    justify-content: start;
    > div {
      position: relative;
      right: 0;
      text-align: left;
      background-color: #FFF;
      max-width: 65%;
      padding: 10px 10px 0 10px;
      border-radius: 5px;
      font-size: 0.9rem;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: -10px;
      width: 20px;
      height: 20px;
      background: linear-gradient(225deg, #fff 0%, #fff 50%, transparent 50%, transparent);
    }
  }
}
i {
  &.seen {
    color: #53bdeb;
  }
  &.ml-neg {
    margin-left: -7px;
  }
}
.emoji-panel {
  position: absolute;
  bottom: 56px;
  left: 0;
  z-index: 50;
}
